# * This file is part of DevOS
# * 
# * Copyright© 2026 EyeDev
# * 
# * DevOS is free software: you can redistribute it and/or modify it under the
# * terms of the MIT License. See LICENSE for full details of all licenses
# * that apply to this repository.

set timeout=1
set default=0

menuentry "DevOS" {
    multiboot2 /boot/kernel.elf
    module2 /boot/init.cpio
    boot
}